<% if !user_signed_in? # if the user is not signed in, render this %>
    <style>
        body {
            background: linear-gradient( /* somewhat transparent film on top of the BG to make it look darker. */
                rgba(0,0,0, 0.7),
                rgba(0,0,0, 0.7)
                ), url("/Marktplace.jpg") no-repeat center center fixed
            
            ; /* only display once, center horizontal and vertical, dont let scroll change position. */
            -webkit-background-size: cover;
            -moz-background-size: cover; /* cover the whole html element. */
            -o-background-size: cover;
            background-size: cover;
        }
        h1 {
            color: white;
            font-weight: bold;
        }
        .container-index {
            margin-right: 15%;
            margin-left: 15%;
        }
        .text {
            color: white;
            font-weight: 300;
            font-size: 150%;
        }
        .footer-links {
            text-align: center;
            color: white;
            margin-top: 30%;
            font-size: 75%;
        }
        
    </style>
    
    <div class="container-index row">
        <div class="col-sm-6">
            <h1>Welcome to Markt.</h1>
            <p class="text">
                Connect with your buddies. Sell your items.<br>
                Share posts & earn money with the tap of a button! <br>
                Just like a marketplace, but its online!
            </p>
        </div>
        <div class="col-sm-6">
            <a href='/users/sign_in' type="button" class="btn btn-primary navbar-btn" style="margin-left: 200px; margin-bottom: 100px;">Mark In</a>
            <br>
            <a href='/users/sign_up' type="button" class="btn btn-primary navbar-btn" style="margin-left: 200px;">Sign Up</a>
                   
        </div>
        
        <div class="col-sm-12">
            <p class="footer-links">About  Help  Blog  Status  Jobs  Terms  Privacy  Cookies  Ads  info  Brand  Advertise  Businesses  Media  Developers  Directory © 2016 Flutter</p>
        </div>
        
    </div>

<% else # if the user IS signed in, render the following %>

    <script>document.location = "/home"</script>

<% end %>